<style type="text/css">
  select, span.Field, span.Loading
  {
    width: 200px;
  }

  span.DealID
  {
    text-align: right;
  }
</style>
<table class="GridLayout" style="padding-bottom: 5px;">
  <tr>
    <td class="RowHeading">Deal ID:</td>
    <td><span class="Field DealID">000001</span></td>
  </tr>
  <tr>
    <td class="RowHeading">Stage:</td>
    <td *ngIf="Deal?.Stage && Deal?.LifeCycle; else Loading">
      <select [compareWith]="CompareById"
              [ngModel]="Deal?.Stage"
              (ngModelChange)="Deal.Stage = $event">
        <option *ngFor="let lifeCycleStage of Deal.LifeCycle.Stages" [ngValue]="lifeCycleStage">{{lifeCycleStage.Name}}</option>
      </select>
    </td>
    <ng-template #Loading>
      <td><span class="Loading">Loading...</span></td>
    </ng-template>
  </tr>
  <tr>
    <td class="RowHeading">Bid Status:</td>
    <td><select></select></td>
  </tr>
  <tbody restricted></tbody>
</table>
