body
{
  margin: 0px;
  padding: 0px;
}

input[type="text"], select
{
  box-sizing: border-box;
}

body, input[type="text"], input[type="button"], select, textarea, legend > span
{
  font-family: Arial;
  font-size: 11px;
  color: #bababa;
  background-color: #000000;
}

input[type="text"], select
{
  height: 20px;
  border: 1px solid #bababa;
  padding: 0px 1px 0px 1px;
}

html.Apple select
{
  -webkit-appearance: none;
  -moz-appearance: none;
  /* SVG background image. */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='7' fill='%23bababa'><polygon points='0,0 6,0 3,6'/></svg>");
  background-size: 10px 7px;
  background-position: right center;
  background-repeat: no-repeat;
}

input[type="button"]
{
  border: 1px solid #bababa;
}

textarea
{
  border: 1px solid #bababa;
  color: #bababa;
  background-color: black;
}

input, select, textarea, button
{
  outline: none;
}

a:hover
{
  text-decoration: underline;
}

fieldset
{
  border-color: #7a7a7a;
}

legend > span
{
  font-weight: bold;
}

span.Field
{
  display: inline-block;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
  color: #7a7a7a;
  border: 1px solid #4a4a4a;
  vertical-align: middle;
}

span.Loading
{
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  line-height: 20px;
  border: 1px solid #bababa;
  vertical-align: middle;
}

*.RowHeading
{
  font-weight: bold;
}

table.GridLayout
{
  border-collapse: separate;
  border-spacing: 2px;
}

table.GridLayout td
{
  padding: 0px;
  border: none;
}

table.DataGrid
{
  border-collapse: collapse;
}

table.DataGrid caption
{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

table.DataGrid th, table.DataGrid td
{
  border: 1px solid #7a7a7a;
  padding: 0px 2px 0px 2px;
}

table.DataGrid th
{
  font-weight: bold;
}

table.DataGrid td
{
  color: #7a7a7a;
}

tr.Hover:hover
{
    background-color: #2a2a2a;
}

table.DataGrid th
{
  font-weight: bold;
}

div.OriginationTab
{
  min-height: 500px;
}

*.Amount, *.Percentage
{
    text-align: right;
}

.polygon
{
  fill: none;
  stroke: #b60000;
}

.graticule
{
  stroke: #b60000;
  stroke-width: 0.25px;
}

.country
{
  stroke: #5a5a5a;
  stroke-width: 1px;
  fill: #b60000;
  opacity: 0.6;
}
