body
{
  margin: 0px;
  padding: 0px;
}

body, input[type="text"], select
{
  font-family: Arial;
  font-size: 11px;
  color: #bababa;
  background-color: #000000;
}

input[type="text"], select
{
  height: 18px;
  border: 1px solid #bababa;
  padding: 0px;
}

select
{
  box-sizing: content-box;
}

textarea
{
  border: 1px solid #bababa;
  color: #bababa;
  background-color: black;
}

input, select, textarea, button
{
  outline: none;
}

a:hover
{
  text-decoration: underline;
}

fieldset
{
  border-color: #7a7a7a;
}

legend
{
  font-weight: bold;
}

span.Field
{
  display: inline-block;
  min-height: 18px;
  line-height: 18px;
  color: #7a7a7a;
  border: 1px solid #4a4a4a;
  vertical-align: middle;
}

span.Loading
{
  display: inline-block;
  height: 18px;
  line-height: 18px;
  border: 1px solid #bababa;
  vertical-align: middle;
}

*.RowHeading
{
  font-weight: bold;
}

table.GridLayout
{
  border-collapse: separate;
  border-spacing: 2px;
}

table.GridLayout td
{
  padding: 0px;
  border: none;
}

table.DataGrid
{
  border-collapse: collapse;
}

table.DataGrid caption
{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

table.DataGrid th
{
  border: 1px solid #7a7a7a;
  background-color: #6a6a6a;
  color: #000;
  padding: 0px 1px 0px 1px;
  font-weight: bold;
}

table.DataGrid td
{
  border: 1px solid #7a7a7a;
  padding: 0px 1px 0px 1px;
}
