table.Dialog
{
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #7a7a7a;
    background-color: #000000;
    transition: opacity 750ms ease-in-out;
}

table.Dialog td.Heading
{
    border: 1px solid #7a7a7a;
    color: #bababa;
    font-weight: bold;
}

table.Dialog td.Body
{
    border: 1px solid #7a7a7a;
    text-align: left;
}

table.Dialog td.Buttons input
{
    margin: 0px 0px 0px 2px;
}

table.Dialog td
{
    padding: 0px;
}

div.DialogBackground
{
    background-color: #fff;
    opacity: 0.2;
}
