<legal-entity-finder Title="Find Borrower"
                     #legalEntityFinder></legal-entity-finder>
<table *ngIf="Borrowers as borrowers" class="DataGrid">
  <caption style="white-space: nowrap;">Borrowers<span *ngIf="!Initialised"> [Initialising]</span></caption>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Rating<br />Expiry&nbsp;Date</th>
    <th></th>
  </tr>
  <tr *ngFor="let borrower of borrowers">
      <td>{{borrower.Organisation.Name}}</td>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr *ngIf="!borrowers.length"><td colspan="4" style="text-align: center;">No Borrowers</td></tr>
</table>
<div *ngIf="Initialised" style="margin-top: 5px;">
  <input type="button" value="Add" (click)="Add()" />
</div>
