<facility-agreement-editor #editor></facility-agreement-editor>
<table *ngIf="FacilityAgreements|async as facilityAgreements"
       class="DataGrid FacilityAgreements">
  <caption style="white-space: nowrap;">Facility Agreements</caption>
  <tr>
    <th rowspan="2">Name</th>
    <th colspan="2">Dates</th>
    <th rowspan="2"></th>
  </tr>
  <tr>
    <th>Signed</th>
    <th>Financial<br />Close</th>
  </tr>
  <tr *ngFor="let facilityAgreement of facilityAgreements">
    <td style="max-width: 300px;">{{facilityAgreement.Name}}</td>
    <td>{{facilityAgreement.ExecutionDate|utcDate}}</td>
    <td>{{facilityAgreement.EffectiveDate|utcDate}}</td>
    <td><a (click)="Delete(facilityAgreement)">delete</a></td>
  </tr>
  <tr *ngIf="!facilityAgreements.length"><td colspan="4" style="text-align: center;">No Facility Agreements</td></tr>
</table>
<div style="margin-top: 5px;">
  <input type="button" value="Add" (click)="Add()" />
</div>
