<style typeof="text/css">
  .FacilityFeeEditorDialog *.Amount
  {
    width: 200px;
  }

  .FacilityFeeEditorDialog *.Percentage,
  .FacilityFeeEditorDialog input[type=text].Date
  {
    width: 100px;
  }
</style>
<dt-dialog [Title]="Fee?.Type.Name + ' Fee'"
           [Open]="Fee">
  <dt-dialog-body>
    <facility-fee-errors></facility-fee-errors>
    <table
        *ngIf="Fee"
        class="GridLayout FacilityFeeEditorDialog">
      <tr>
        <td class="RowHeading">Fee Unit:</td>
        <td>
          <select [(ngModel)]="FacilityFeeUnit">
            <option [ngValue]="0">Commitment Currency</option>
            <option [ngValue]="1">% Of Commitment</option>
          </select>
        </td>
      </tr>
      <tbody *ngIf="FacilityFeeUnit === 0; else Percentage">
        <tr>
          <td class="RowHeading">Amount:</td>
          <td>
            <input type="text"
                   [(dtAmountModel)]="Fee.NumericValue"
                   [dtValidatedObject]="Fee"
                   dtValidatedProperty="NumericValue"
                   class="Amount" />
          </td>
        </tr>
        <tr>
          <td class="RowHeading">% Of Commitment:</td>
          <td>
            <span class="Field Percentage">{{PercentageOfCommitment|percentage}}</span><span style="margin-left: 2px">%</span>
          </td>
        </tr>
      </tbody>
      <ng-template #Percentage>
        <tr>
          <td class="RowHeading">Amount:</td>
          <td>
            <span class="Field Amount">{{MonetaryAmount|amount}}</span>
          </td>
        </tr>
        <tr>
          <td class="RowHeading">% Of Commitment:</td>
          <td>
            <input type="text"
                   [(dtPercentage100Model)]="Fee.NumericValue"
                   [dtValidatedObject]="Fee"
                   dtValidatedProperty="NumericValue"
                   maxlength="6"
                   class="Percentage" /><span style="margin-left: 2px">%</span>
          </td>
        </tr>
      </ng-template>
      <tr>
        <td class="RowHeading">Expected/Received Date:</td>
        <td>
          <input type="text"
                 [(dtDateModel)]="Fee.ExpectedReceivedDate"
                 [dtValidatedObject]="Fee"
                 dtValidatedProperty="ExpectedReceivedDate"
                 class="Date" /><dt-calendar (dateSelected)="Fee.ExpectedReceivedDate = $event"></dt-calendar>
        </td>
      </tr>
      <tr>
        <td class="RowHeading">Received:</td>
        <td>
          <input type="checkbox"
                 [(ngModel)]="Fee.Received" />
        </td>
      </tr>
      <tr>
        <td class="RowHeading">Accrued:</td>
        <td>
          <input type="checkbox"
                 [(ngModel)]="Accrued" />
        </td>
      </tr>
      <tr *ngIf="Accrued">
        <td class="RowHeading">Accrual Date:</td>
        <td><accrual-date-editor [AccrualDate]="Fee.AccrualDate"></accrual-date-editor></td>
      </tr>
    </table>
  </dt-dialog-body>
  <dt-dialog-buttons>
    <input type="button" value="Apply" (click)="Apply()" class="Button" /><input type="button" value="Cancel" (click)="Cancel()" class="Button" />
  </dt-dialog-buttons>
</dt-dialog>
