<table *ngIf="FacilityAgreements|async as facilityAgreements"
       class="DataGrid FacilityAgreements">
  <caption style="white-space: nowrap;">Facility Agreements</caption>
  <tr>
    <th>Name</th>
    <th>Signed<br/>Date</th>
    <th>Close<br/>Date</th>
    <th></th>
  </tr>
  <tr *ngFor="let facilityAgreement of facilityAgreements">
    <td style="max-width: 300px;">{{facilityAgreement.Name}}</td>
    <td>{{facilityAgreement.ExecutionDate|utcDate}}</td>
    <td>{{facilityAgreement.EffectiveDate|utcDate}}</td>
    <td><a (click)="Delete(facilityAgreement)">delete</a></td>
  </tr>
  <tr *ngIf="!facilityAgreements.length.length"><td colspan="4" style="text-align: center;">No Facility Agreements</td></tr>
</table>
<div style="margin-top: 5px;">
  <input type="button" value="Add" (click)="Add()" />
</div>
