<style type="text/css">
  table.DataGrid.FacilityFees th
  {
    text-align: center;
    vertical-align: top;
  }
</style>
<facility-fee-editor #editor></facility-fee-editor>
<table class="DataGrid FacilityFees">
  <tr>
    <th>Type</th>
    <th>Amount<br />Type</th>
    <th>Amount</th>
    <th>% Of<br />Commitment</th>
    <th>Received</th>
    <th>Expected/<br />Received Date</th>
    <th>Accrual<br />Date</th>
    <th></th>
  </tr>
  <tr *ngFor="let fee of Fees">
    <td>{{fee.Type.Name}}</td>
    <ng-container *ngIf="fee.Amount.Type === 0; else Percentage">
      <td>Monetary Amount</td>
      <td>{{fee.Amount.Value|amount}}</td>
      <td>{{PercentageOfCommitment(fee)|percentage}}</td>
    </ng-container>
    <ng-template #Percentage>
      <td>% Of Commitment</td>
      <td>{{MonetaryAmount(fee)|amount}}</td>
      <td>{{fee.Amount.Value|percentage}}</td>
    </ng-template>
    <td>{{fee.Received|yesNo}}</td>
    <td>{{fee.ExpectedReceivedDate|utcDate}}</td>
    <td></td>
    <td><a (click)="Update(fee)">edit</a></td>
  </tr>
  <tr *ngIf="Fees && Fees.length === 0">
    <td colspan="8" style="text-align: center;">No Fees</td>
  </tr>
</table>
<div style="margin-top: 5px;">
  <select
    [(ngModel)]="FeeType">
    <option [ngValue]="null"></option>
    <option *ngFor="let feeType of FeeTypes" [ngValue]="feeType">{{feeType.Name}}</option>
  </select><input
    type="button"
    value="Add"
    (click)="Add()"
    [disabled]="!FeeType"
    style="height: 20px; margin-left: 1px;" />
</div>
