<style typeof="text/css">
  .FacilityFeeEditorDialog *.Amount
  {
    width: 200px;
  }

  .FacilityFeeEditorDialog *.Percentage,
  .FacilityFeeEditorDialog input[type=text].Date
  {
    width: 100px;
  }
</style>
<dt-dialog [Title]="Fee?.Type.Name + ' Fee'"
           [Open]="Fee">
  <dt-dialog-body>
    <table class="GridLayout FacilityFeeEditorDialog">
      <tr>
        <td class="RowHeading">Amount Type</td>
        <td>
          <select [ngModel]="Fee?.Amount.Type"
                  (ngModelChange)="Fee.Amount.Type = $event">
            <option [ngValue]="0">Monetary Amount</option>
            <option [ngValue]="1">% Of Commitment</option>
          </select>
        </td>
      </tr>
      <tbody *ngIf="Fee && Fee.Amount.Type === 0; else Percentage">
        <tr>
          <td class="RowHeading">Amount:</td>
          <td>
            <input type="text"
                   [dtAmountModel]="Fee?.Amount.Value"
                   (dtAmountModelChange)="Fee.Amount.Value = $event"
                   class="Amount" />
          </td>
        </tr>
        <tr>
          <td class="RowHeading">% Of Commitment:</td>
          <td>
            <span class="Field Percentage">{{PercentageOfCommitment|percentage}}</span>
          </td>
        </tr>
      </tbody>
      <ng-template #Percentage>
        <tr>
          <td class="RowHeading">Amount:</td>
          <td>
            <span class="Field Amount">{{MonetaryAmount|amount}}</span>
          </td>
        </tr>
        <tr>
          <td class="RowHeading">% Of Commitment:</td>
          <td>
            <input type="text"
                   [dtPercentage100Model]="Fee?.Amount.Value"
                   (dtPercentage100ModelChange)="Fee.Amount.Value = $event"
                   class="Percentage" />
          </td>
        </tr>
      </ng-template>
      <tr>
        <td class="RowHeading">Expected/Received Date:</td>
        <td>
          <input type="text"
                 [dtDateModel]="Fee?.ExpectedReceivedDate"
                 (dtDateModelChange)="Fee.ExpectedReceivedDate = $event"
                 class="Date" /><dt-calendar (dateSelected)="Fee.ExpectedReceivedDate = $event"></dt-calendar>
        </td>
      </tr>
      <tr>
        <td class="RowHeading">Received:</td>
        <td>
          <input type="checkbox"
                 [ngModel]="Fee?.Received"
                 (ngModelChange)="Fee.Received = $event" />
        </td>
      </tr>
      <tr>
        <td class="RowHeading">Accrued:</td>
        <td>
          <input type="checkbox"
                 [(ngModel)]="Accrued" />
        </td>
      </tr>
      <tr *ngIf="Accrued">
        <td class="RowHeading">Accrual Date:</td>
        <td><accrual-date-editor [AccrualDate]="Fee?.AccrualDate"></accrual-date-editor></td>
      </tr>
    </table>
  </dt-dialog-body>
  <dt-dialog-buttons>
    <input type="button" value="Apply" (click)="Apply()" class="Button" /><input type="button" value="Cancel" (click)="Cancel()" class="Button" />
  </dt-dialog-buttons>
</dt-dialog>
