<legal-entity-finder Title="Find Sponsor"
                     #legalEntityFinder></legal-entity-finder>
<style type="text/css">
  table.Sponsors *.Equity
  {
    width: 50px;
  }

  table.Sponsors td.EquityError
  {
    color: red;
  }
</style>
<table
  *ngIf="Sponsors as sponsors"
  [dtModelErrors]="Errors?.Sponsors"
  class="DataGrid Sponsors">
  <caption style="white-space: nowrap;">Sponsors<span *ngIf="NAEnabled" style="font-size: smaller;"> (N/A: <input type="checkbox" [(ngModel)]="NA" [disabled]="Sponsors.length > 0" />)</span><span *ngIf="!Initialised"> [Initialising]</span></caption>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Region</th>
    <th>Equity <span style="font-size: smaller;">(%)</span></th>
    <th></th>
  </tr>
  <tr *ngFor="let sponsor of sponsors">
    <td style="max-width: 300px;">{{sponsor.Organisation.Name}}</td>
    <td>{{sponsor.Organisation.Country.Name}}</td>
    <td></td>
    <td class="Percentage"><input
      type="text"
      [dtPercentageModel]="sponsor.Equity"
      (dtPercentageModelChange)="UpdateEquity(sponsor, $event)"
      class="Percentage Equity"/></td>
    <td><a (click)="Delete(sponsor)">delete</a></td>
  </tr>
  <tr *ngIf="sponsors.length; else NoSponsors">
    <td colspan="3">Total Equity:</td>
    <td
      [ngClass]="{ 'EquityError': TotalEquity != 100 }"
      class="Percentage">{{TotalEquity|percentage}}</td>
    <td></td>
  </tr>
  <ng-template #NoSponsors>
    <tr *ngIf="!sponsors.length"><td colspan="5" style="text-align: center;">No Sponsors</td></tr>
  </ng-template>
</table>
<div *ngIf="Initialised" style="margin-top: 5px;">
  <input type="button" value="Add" (click)="Add()" />
</div>
